.container{
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    
}
.c1{
    background-color:rgb(63, 188, 255);
}
.c2{
    background-color: aliceblue;
}